body {
    display: flex;
    flex-direction: column;
    background-color: #FDCCC0;
    align-items: center;
    justify-content: center;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #eda4d1;
    color: #58044a;
}

#header-left, #header-center, #header-right {
    margin-left: 15px;
}

#header-center {
    justify-content: center;
}

#header-right {
    margin-right: 15px;
}

#header #new-game {
    border-color: transparent;
    width: 150px;
    height: auto;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    color: #58044a;
    background-color: #c1338b;
    border-radius: 5px;
}

#header #new-game:hover {
    background-color: #ffffff;
    border-color: #da53a4;
    color: #c1338b;
    transition: all 0.5s ease-in-out;
    box-shadow: 0px 0px 10px #c1338b;
    border-radius: 5px;
}

#header h1 {
    font-size: 45px;
    font-weight: bolder;
    margin: 0px;
    padding: 10px;
}

#header .score-div { 
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    background-color: #eda4d1;
    color: #58044a;
}

#header #score, #header #best-score {
    font-size: 20px;
    font-weight: bold;
    margin: 0px;
    padding: 5px;
}

#game {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    gap: 10px;
    margin: 10px;
    padding: 10px;
    background-color: rgb(203, 125, 190);
    border-radius: 10px;
}

.grid-cell {
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border-radius: 10px;
    background-color: #FBADAF;
    text-align: center;
    font-weight: bolder;
    color: #96616B;
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.grid-cell.moving {
    animation: slide 0.2s ease-in-out forwards;
}

@keyframes slide {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(100px, 100px); /* Adjust as necessary */
    }
}

@keyframes pop {
    0% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}

.grid-cell.new {
    animation: pop 0.2s ease-out;
}

@media (max-width: 500px) {
    #game {
        gap: 5px;
        padding: 5px;
        margin: 5px;
    }

    .grid-cell {
        height: 65px;
        width: 65px;
        font-size: 20px;
    }

    #header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 10px;
    }

    #header #new-game, #header #score, #header #best-score {
        width: 100%;
        margin-bottom: 10px;
    }

    footer {
        position: fixed;
        bottom: 0;
    }
}

#popup, #popup1 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    justify-content: center;
    align-items: center;
}

.popup-content, .popup-content1 {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.popup-content h2, .popup-content1 h2 {
    margin-top: 0;
    color: #58044a;
}

.button-container, .button-container1 {
    margin-top: 20px;
}

#popup.active, #popup1.active {
    display: flex;
}

#continue-game, #new-game-popup, #new-game-popup-lose {
    border-color: transparent;
    width: 150px;
    height: auto;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    color: #58044a;
    background-color: #c1338b;
    border-radius: 5px;
}

#continue-game:hover, #new-game-popup:hover {
    background-color: #ffffff;
    border-color: #da53a4;
    color: #c1338b;
    transition: all 0.5s ease-in-out;
    box-shadow: 0px 0px 10px #c1338b;
    border-radius: 5px;
}

footer {
    text-align: center;
    margin-top: 20px;
    color: #58044a;
    width: 100%;
    background-color: #eda4d1;
    padding-bottom: 15px;
}

footer a {
    color: #58044a;
    text-decoration: none;
    margin: 0px 10px;
}